@import "/components/header.css";
@import "/components/main.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 75px;
  --footer-height: 50px;

  --primary-light: #f8f8f2;
  --primary-dark: #282a36;
  --primary-light-contrast-text: #282a36;
  --primary-dark-contrast-text: #f8f8f2;
  --primary-medium-background: #44475a;
  --primary-accent-1: #ff5555;
  --primary-accent-2: #50fa7b;
}

.footer {
  background: var(--primary-dark);
  height: var(--footer-height);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-dark-contrast-text);
}

.footer__paragraph__span,
.footer__link {
  color: var(--primary-accent-1);
}

.footer__link {
  color: var(--primary-accent-2);
}
